    <!-- ******ABOUT****** --> 
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">What is Nebula?</h2>
            <p class="intro text-center">Nebula container orchestrator aims to help devs and ops treat IoT devices just like distributed Dockerized apps. It aim is to act as Docker orchestrator for IoT devices as well as for distributed services such as CDN or edge computing that can span thousands (possibly even millions) of devices worldwide and it does it all while being open-source and completely free.</p>
            <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-globe"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Designed to scale</h3>
                        <p>Nebula imposes no limits on the scale of the cluster, each component in it is designed to scale out to allow millions of workers to be managed by it.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Latency tolerant</h3>
                        <p>Designed to connect to devices that are spread around the globe Nebula is tolerant of network connections issues and will resync the device when it reconnects.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa  fa-fast-forward"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Fast & safe deployments</h3>
                        <p>With a single API call you can deploy a new container version to managed devices around the globe in minutes. Updating a configuration is as simple as another API call.</p>
                    </div><!--//content-->
                </div><!--//item-->           
                <div class="clearfix visible-md"></div>    
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-medkit"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Based on well tested software</h3>
                        <p>Using MongoDB & influenced by Kafka Monotonic ID's you can rest assured the backend can both handle the scale you need and will keep your data safe. </p>
                    </div><!--//content-->
                </div><!--//item-->                
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-truck "></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Familiar Docker</h3>
                        <p>If you can do it inside the Docker engine you can do it with Nebula... only distributed.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-usd"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">GPL v3.0 license</h3>
                        <p>It's Free - you can't beat that.</p>
                    </div><!--//content-->
                </div><!--//item-->               
            </div><!--//row-->            
        </div><!--//container-->
    </section><!--//about-->
