    <!-- ******CONTACT****** -->
    <section id="contact" class="contact section has-pattern">
        <div class="container">
            <div class="contact-inner">
                <h2 class="title  text-center">Contact</h2>
                <p class="intro  text-center">Need a hand? <br />Contact the project mail-group at <a href="mailto:nebula-orchestrator@googlegroups.com" target="_blank">nebula-orchestrator@googlegroups.com</a>.</p>
                </div><!--//info-->
            </div><!--//contact-inner-->
        </div><!--//container-->
    </section><!--//contact-->
