    <!-- ******DOCS****** --> 
    <section id="docs" class="docs section">
        <div class="container">
            <div class="docs-inner">
            <h2 class="title text-center">Get Started</h2>            
            <div class="block">
            <div class="block">
                <h3 class="sub-title text-center">Full Documentation</h3>
                <p class="text-center">Being a complex system it's recommended to begin by reading the documentation, there are also links below for the GitHub Repo & DockerHub where the container are hosted.</p>
                <p class="text-center">
                    <a class="btn btn-cta-primary" href="https://github.com/nebula-orchestrator" target="_blank">Github</a>
                    <a class="btn btn-cta-secondary" href="http://nebula.readthedocs.io/en/latest/" target="_blank">Documentation</a>
                    <a class="btn btn-cta-primary" href="https://hub.docker.com/u/nebulaorchestrator/" target="_blank">DockerHub</a>
                </p>
            </div><!--//block-->
            
            </div><!--//docs-inner-->         
        </div><!--//container-->
        </div><!--//container-->
    </section><!--//docs->
