    <!-- ******FEATURES****** --> 
    <section id="features" class="features section">
        <div class="container text-center">
            <h2 class="title">Features</h2>
            <ul class="feature-list list-unstyled">
                <li><i class="fa fa-check"></i> Latency tolerant</li>
                <li><i class="fa fa-check"></i> (Nearly) unlimited scale</li>
                <li><i class="fa fa-check"></i> Single API to manage worldwide devices</li>
                <li><i class="fa fa-check"></i> Use Docker containers to manage your IoT devices</li>
                <li><i class="fa fa-check"></i> Fast & easy deployments</li>
                <li><i class="fa fa-check"></i> Open source</li>
                <li><i class="fa fa-check"></i> Self healing</li>
                <li><i class="fa fa-check"></i> Free</li>
            </ul>
        </div><!--//container-->
    </section><!--//features-->
