    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <h2 class="title">Nebula<span class="highlight"> Container </span> orchestrator</h2>
            <p class="intro">A Docker container orchestrator for IoT and distributed systems</p>
            <div class="btns">
                <a class="btn btn-cta-primary" href="http://nebula.readthedocs.io/en/latest/" target="_blank">Documentation</a>
                <a class="btn btn-cta-secondary" href="https://github.com/nebula-orchestrator" target="_blank">Github</a>
                <a class="btn btn-cta-primary" href="https://hub.docker.com/u/nebulaorchestrator/" target="_blank">DockerHub</a>
            </div>
            <ul class="meta list-inline">
            </ul><!--//meta-->
        </div><!--//container-->
    </section><!--//promo-->
