    <!-- ******TRY****** -->
    <section id="try" class="docs section">
        <div class="container">
            <div class="docs-inner">
            <h2 class="title text-center">Or play around with a single line install</h2>
            <div class="block">
                <p>Run the following command on a server that has Docker & docker-compose installed on it and you will have a fully running Nebula cluster + a worker with a running example app running on a single server to allow you to easily play around with the API.</p>
                <div class="code-block">
                    <pre><code class="language-javascript">curl -L "https://raw.githubusercontent.com/nebula-orchestrator/docs/master/examples/hello-world/start_example_nebula_cluster.sh" -o start_example_nebula_cluster.sh && sudo sh start_example_nebula_cluster.sh</code></pre>
                </div><!--//code-block-->
            </div><!--//block-->
            </div><!--//try-inner-->
        </div><!--//container-->
    </section><!--//try-->
